.container {
  font-family: Tahoma, sans-serif;
  padding: 10px;
}

input {
  margin: 5px;
}

ol a {
  position: absolute;
  left: 500px;
}

.amount {
  display: inline;
  position: absolute;
  left: 260px;
}
